<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        }
    </style>
</head>
<body style="padding:7.5px;margin:0;">
    <div style="width: 100%;height:5vh;box-sizing: border-box;background-color: orange;display: flex;align-items: center;justify-content: center;font-weight: bold;">
        SURAT LAMARAN KERJA
    </div>
    <div style="height: 2.5vh;width:100%;">
        <div style="height: 100%;width:25%;float: right;background-color: aqua;display: flex;justify-content: center;align-items: center;">
            Malang, 31 Agustus 2022
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        Hal : Lamaran Pekerjaan
    </div>
    <div style="height:10vh;width: 100%;box-sizing: border-box;margin-top:0.5em;background-color: aqua;">
        <div style="height:25%;background-color: blueviolet;display: flex;align-items: center;">
            Kepada Yth,
        </div>
        <div style="height:25%;background-color: blueviolet;display: flex;align-items: center;">
            HRD Personalia
        </div>
        <div style="height:25%;background-color: blueviolet;display: flex;align-items: center;">
            PT. Kebon Agung 
        </div>
        <div style="height:25%;background-color: blueviolet;display: flex;align-items: center;">
            Di Malang.
        </div>            
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:0.5em">
        Dengan Hormat,
    </div>

    <div style="width: 100%;box-sizing: border-box;margin-top:0.5em;margin-bottom:0.5em;background-color: aqua;">
        &emsp;&emsp;Berdasar dari iklan lowongan pekerjaan dari PT. Kebon Agung, pada website Jobstreet.com (20 Februari 2022), Saya mengajukan diri untuk melamar posisi sebagai PDE di PT Kebon Agung, Adapun data diri saya sebagai berikut :  
    </div>

    <div style="height:22.5vh;width: 100%;margin-top: 0.5em;box-sizing: border-box;background-color: rebeccapurple;margin-top: 0.25em;">
        <div style="height: 12%;width: 100%;box-sizing: border-box;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Nama
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                Hilman Adi Kartika
            </div>
        </div>
        <div style="height: 12%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Tempat, Tanggal Lahir
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                Malang,11 Februari 1990
            </div>
        </div>
        <div style="height: 12%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Umur
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                22 Tahun
            </div>
        </div>
        <div style="height: 12%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Pendidikan Terakhir
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                Sarjana (S-1) Teknik Informatika
            </div>
        </div>
        <div style="height: 12%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                No. Telepon
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                0812-1234-3212
            </div>
        </div>
        <div style="height: 12%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Email
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                azaa@aaa.aaa
            </div>
        </div>
        <div style="height: 15%;width: 100%;box-sizing: border-box;margin-top:0.25em;">
            <div style="height: 100%;background-color: brown;width: 30%;box-sizing: border-box;float: left;">
                Alamat
            </div>
            <div style="height: 100%;background-color: brown;width: 10%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;float: left;">
                :
            </div>
            <div style="height: 100%;background-color: brown;width: 60%;box-sizing: border-box;float: left;">
                Jl. Sumbersari III no 229 rt 4 rw 1 Kelurahan Sumbersari Kecamatan Lowokwaru Kota Malang Jawa Timur
            </div>
        </div>
    </div>

    <div style="width: 100%;box-sizing: border-box;margin-top:0.5em;background-color: aqua;">
        &emsp;&emsp;Untuk melengkapi beberapa data yang diperlukan sebagai bahan pertimbangan Bapak/Ibu pimpinan diwaktu yang akan datang, saya lampirkan juga kelengkapan Copy data diri sebagai berikut :
    </div>

    <div style="width: 100%;box-sizing: border-box;margin-top:0.25em;background-color: aqua;">
        <ol type="1" style="padding-left: 5em;">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ol>  
    </div>

    <div style="width: 100%;box-sizing: border-box;margin-top:0.25em;background-color: aqua;">
        &emsp; &emsp; Demikian  surat  lamaran kerja ini saya buat. Besar harapan saya untuk diterima bekerja di perusahaan Bapak/Ibu pimpin. Atas perhatian serta kebijaksanaan Bapak/Ibu pimpinan saya mengucapkan terimakasih.     
    </div>
    <div style="height:13.5vh;width: 25%;box-sizing: border-box;margin-top:0.25em;background-color: aqua;float: right;">
        <div style="height:20%;width: 100%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
            Hormat Saya,
        </div>
        <div style="height:60%;width: 100%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
            Hormat Saya,
        </div>
        <div style="height:20%;width: 100%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
            <u>Hilman Adi Kartika, S.Kom</u>
        </div>
    </div>
</body>
