<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/signature_pad.umd.min.js"></script>
    <style>
        *{
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            let sp = document.getElementById("signature-pad");
            var signaturePad = new SignaturePad(sp,{
                backgroundColor: 'rgba(255, 255, 255, 0)',
                penColor: 'rgb(0, 0, 0)'
            });
        });
    </script>
</head>
<body style="padding:7.5px;margin:0;">
    <div style="height: 3vh;width:100%;">
        <div style="height: 100%;width:25%;float: right;background-color: aqua;display: flex;justify-content: center;align-items: center;">
            Malang, 31 Agustus 2022
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top: 2.5em;">
        <div style="height: 100%;box-sizing: border-box;width: 10%;">
            Hal 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 5%;">
            : 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 85%;">
            Surat Izin Tidak Masuk Kerja dikarenakan Sakit
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        <div style="height: 100%;box-sizing: border-box;width: 10%;">
            Lamp
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 5%;">
            : 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 85%;">
            1 Lembar Surat Keterangan Sakit
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:1.5em;">
        Yth. Bapak/Ibu Personalia
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        PG. Kebon Agung Malang
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        Di tempat,
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:1.5em;">
        Dengan Hormat,
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        Yang bertanda tangan di bawah ini:
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:2em;">
        <div style="height: 100%;box-sizing: border-box;width: 15%;">
            Nama 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 5%;">
            : 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 80%;">
            Ivan R Putra
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        <div style="height: 100%;box-sizing: border-box;width: 15%;">
            Jabatan
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 5%;">
            : 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 80%;">
            Karyawan
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;">
        <div style="height: 100%;box-sizing: border-box;width: 15%;">
            Posisi
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 5%;">
            : 
        </div>
        <div style="height: 100%;box-sizing: border-box;width: 80%;">
            PDE
        </div>
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:2em;">
        Bermaksud untuk mengajukan izin tidak masuk kerja pada hari Senin, 21 Maret 2022, Dikarenakan sakit.
    </div>
    <div style="height:2.5vh;background-color: blueviolet;display: flex;align-items: center;margin-top:1.5em;">
        Demikian surat ini saya buat dengan sebenarnya, Atas perhatian dan pengertiannya, saya ucapkan terima kasih.
    </div>
    <div style="height:20vh;background-color: blueviolet;margin-top:4em;width: 25%;float: right;">
        <div style="width: 100%;height: 25%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
            Malang, 11 Februari 2022
        </div>
        <div style="width: 100%;height: 50%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
        </div>
        <div style="width: 100%;height: 25%;box-sizing: border-box;display: flex;align-items: center;justify-content: center;">
            <u>Ivan Reynaldi Putra</u>
        </div>
    </div>

    <div class="go"  style="width: 300px;border: 2px solid red;">
        <canvas id="signature-pad"></canvas>
      </div>
</body>
